.boxFilter{
    padding: 0rem .5rem;
    width: 100%;
    min-height: 5rem;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:.5rem 0rem;
}


.cleanBtnContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cleanBtn{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color1);
    padding: .3rem;
    border: none;
    border: thin solid var(--color1);
    border-radius: 5px;
    background-color: transparent;
}


.cleanBtn svg{
    fill:var(--color1)
}


@media only screen and (max-width: 850px){
    .boxFilter{
        display: flex;
    }
}