.buttonCta{
    width: 100%;
    min-height: 3rem;
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background-color: var(--color1);
    font-weight: 500;
    color: var(--white);
    border: none;
    border-radius: 2rem;
    transition: .3s ease-out;
}


.buttonCta svg{
    fill: var(--white);
}


.buttonCta:hover{
    background-color: var(--colorAction);
}



@media only screen and (max-width: 850px){
    .buttonCta{
        display: none;
    }
}