.filterHeader{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}