.optionsMobile{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
}


.separator{
    width: 1px;
    height: 60%;
    background-color: var(--grey);
    opacity: .4;
}



@media only screen and (max-width: 850px){
    .optionsMobile{
        display: flex;
    }
}